.bg-light {
  background-color: #fff !important;
}
.navbar-brand {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1875f0 !important;
}
.img-rounded {
  border-radius: 40px;
  margin-left: 20px;
}

.rounded-pill {
  margin-top: 7px;
  margin-left: -5px;
}
.transact {
  display: flex;
}
.dates {
  display: flex;
  justify-content: space-between;
}

.months > p > span {
  border-right: 1px solid black;
}
.box {
  height: 250px !important;
}

/* .sidebar,
.content {
  height: 1000px !important;
} */

.sidebar {
  border: 2px solid #fff;
  margin-right: -30px;
}

.main-wrapper {
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 10px;
}
.list-group-item {
  border: none;
}
